# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
.cache/
# Build directory
public/
static/admin/*.bundle.*
.DS_Store
yarn-error.log
.merlin
.bsb.lock
npm-debug.log
/lib/bs/
/node_modules/
*.bs.js
/_esy/*
